* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
#header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.2rem;
  margin-right: 1.8rem;
}
#header a {
  display: inline-block;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  line-height: 24px;
  margin-right: 1.2rem;
  text-decoration: none;
}
#header a:hover {
  text-decoration: underline;
}
#header .apps {
  width: 1.5rem;
  margin-right: 1.2rem;
  color: #5f6368;
  opacity: 0.7;
}
#header .apps:hover {
  background-color: #3c404314;
  border-radius: 50%;
  cursor: pointer;
}
#header .sign_in {
  background-color: #1a73e8;
  width: 96px;
  height: 36px;
  color: #fff;
  border-radius: 5px;
  border: none;
}
#header .sign_in:hover {
  box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%);
  cursor: pointer;
  background-color: #2b7de9;
  transition: box-shadow 250ms;
}
#google{
  margin-top: 100px;
}
#google .google_icon{
  text-align: center;
}
#google .google_input{
  width: 582px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
}
#google .google_input .i_google{
  width: 100%;
  display: block;
  position: absolute;
  color: rgba(0, 0, 0, 0.87); 
  border: 1px solid #ddd;
  font-size: 14px;
  border-radius: 25px;
  padding: 15px;
  padding-left: 45px;
  padding-right: 90px;
  outline: none;
}
#google .google_input .i_google:hover{
  box-shadow: 1px 1px 5px #30343614;
}
#google .google_input .s_icon{
  position: absolute;
  width: 20px;
  opacity: 0.3;
  top: 15px;
  left: 15px;
}
#google .google_input .k_icon{
  position: absolute;
  width: 24px;
  top: 19px;
  right: 54px;
  cursor: pointer;
}
#google .google_input .mic_icon{
  position: absolute;
  width: 33px;
  top: 8px;
  right: 11px;
  cursor: pointer;
}
#google .google_input button{
  background-color: #f8f9fa;
  color: #3c4043;
  border: 1px solid transparent;
  padding: 9px 16px;
  border-radius: 4px;
  margin-top: 80px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
}
#google .google_input button:hover{
  box-shadow: 1px 1px 5px rgb(133, 133, 133);
}