* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
main {
  overflow: auto;
  width: 100%;
  height: 100%;
}
#header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.2rem;
  margin-right: 1.8rem;
}
#header a {
  display: inline-block;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  line-height: 24px;
  margin-right: 1.2rem;
  text-decoration: none;
}
#header a:hover {
  text-decoration: underline;
}
#header .apps {
  width: 1.5rem;
  margin-right: 1.2rem;
  color: #5f6368;
  opacity: 0.7;
}
#header .apps:hover {
  background-color: #3c404314;
  border-radius: 50%;
  cursor: pointer;
}
#header .sign_in {
  background-color: #1a73e8;
  width: 96px;
  height: 30px;
  color: #fff;
  border-radius: 5px;
  border: none;
}
#header .sign_in:hover {
  box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%);
  cursor: pointer;
  background-color: #2b7de9;
  transition: box-shadow 250ms;
}
#google {
  margin-top: 130px;
}
#google .google_icon {
  text-align: center;
}
#google .google_icon img {
  width: 272px;
  height: 92px;
}
#google .google_input {
  display: flex;
  justify-content: center;
  max-width: 582px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
}
#google .google_input .i_google {
  width: 100%;
  display: block;
  position: absolute;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid #ddd;
  font-size: 14px;
  border-radius: 25px;
  padding: 15px;
  padding-left: 45px;
  padding-right: 100px;
  outline: none;
}
#google .google_input .i_google:hover,
.i_google:focus {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
#google .google_input .s_icon {
  position: absolute;
  width: 20px;
  opacity: 0.3;
  top: 15px;
  left: 15px;
}
#google .google_input .k_icon {
  position: absolute;
  width: 21px;
  top: 19px;
  right: 60px;
  cursor: pointer;
}
#google .google_input .mic_icon {
  position: absolute;
  width: 33px;
  top: 8px;
  right: 11px;
  cursor: pointer;
}
#google .google_input button {
  background-color: #f8f9fa;
  color: #3c4043;
  border: 1px solid transparent;
  padding: 9px 16px;
  border-radius: 4px;
  margin-top: 80px;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
}
#google .google_input button:hover {
  box-shadow: 0 1px 1pxrgba (0, 0, 0, 0.1);
  border: 1px solid #dadce0;
  color: #202124;
}
#footer {
  width: 100%;
  bottom: 0px;
  background-color: #f2f2f2;
  color: #70757a;
  position: fixed;
}
#footer h3 {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  display: block;
  font-size: 15px;
  font-weight: 100;
}
#footer .footer_google {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 30px;
}
#footer a {
  color: #70757a;
  text-decoration: none;
  padding: 20px 30px;
  padding-right: 0;
  display: inline-block;
  font-size: 14px;
}
#footer a:hover {
  text-decoration: underline;
}
/*---------------------media------------------------*/
@media screen and (max-width: 1200px) {
  #footer .footer_google {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 900px) {
  #footer .footer_google {
    justify-content: space-between;
  }
}
@media screen and (min-width: 250px) and (max-width: 450px) {
  #header {
    margin-top: 2px;
    margin-right: 8px;
  }
  #header a {
    font-size: 11px;
    margin-right: 10px;
  }
  #header .apps {
    width: 19px;
    margin-right: 8px;
  }
  #header .sign_in {
    font-size: 11px;
    width: 65px;
    height: 24px;
    border-radius: 2px;
  }
  #google {
    margin-top: 80px;
  }
  #google .google_icon img {
    width: 160px;
    height: 55px;
  }
  #google .google_input {
    margin: 0px 20px;
    margin-top: 8px;
  }
  #google .google_input .i_google {
    padding: 5px;
    padding-left: 38px;
    padding-right: 70px;
    font-size: 11px;
    height: 40px;
  }
  #google .google_input .s_icon {
    width: 16px;
    top: 12px;
    left: 13px;
  }
  #google .google_input .k_icon {
    width: 15px;
    top: 15px;
    right: 42px;
  }
  #google .google_input .mic_icon {
    width: 28px;
    top: 5px;
    right: 9px;
  }
  #google .google_input button {
    font-size: 10px;
    padding: 8px 13px;
    margin-top: 68px;
  }
  #footer h3 {
    padding: 6px 7px;
    font-size: 11px;
  }
  #footer a {
    padding: 14px;
    padding-right: 0;
    font-size: 10px;
  }
  #footer .footer_google {
    justify-content: space-around;
  }
}
/*-----------------@media-------------------*/
@media screen and (max-height: 450px) {
  #header {
    margin-top: 2px;
    margin-right: 8px;
  }
  #header a {
    font-size: 11px;
    margin-right: 10px;
  }
  #header .apps {
    width: 19px;
    margin-right: 8px;
  }
  #header .sign_in {
    font-size: 11px;
    width: 65px;
    height: 24px;
    border-radius: 2px;
  }
  #google {
    margin-top: 40px;
  }
  #google .google_icon img {
    width: 160px;
    height: 55px;
  }
  #google .google_input {
    margin-top: 8px;
  }
  #google .google_input .i_google {
    padding: 5px;
    padding-left: 38px;
    padding-right: 70px;
    font-size: 11px;
    height: 40px;
  }
  #google .google_input .s_icon {
    width: 16px;
    top: 12px;
    left: 13px;
  }
  #google .google_input .k_icon {
    width: 15px;
    top: 15px;
    right: 42px;
  }
  #google .google_input .mic_icon {
    width: 28px;
    top: 5px;
    right: 9px;
  }
  #google .google_input button {
    font-size: 10px;
    padding: 8px 13px;
    margin-top: 68px;
  }
  #footer h3 {
    padding: 6px 7px;
    font-size: 11px;
  }
  #footer a {
    padding: 14px;
    padding-right: 0;
    font-size: 10px;
  }
  #footer .footer_google {
    justify-content: space-around;
  }
}
